<nav>
    <ul>
        <li><a href="/">ke halaman utama</a></li>
    </ul>
    <ul>
        <li><a href="about">ke about</a></li>
    </ul>
    <ul>
        <li><a href="contact">ke kontak</a></li>
    </ul>
</nav>